<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1</title>
    <link rel="stylesheet" href="/styles/style.css"> <!-- Inclusion du CSS -->
</head>
<body>
    <header>
        <h1>8CLD201 : Environnement de déploiement</h1>
    </header>
    <main>
        <img src="/images/UQAC_logo.png" alt="Azure" width="200">
        <h2>Nom de la machine : <%= hostname %></h2>
        <h2>Notre dépôt Github : <a href="https://github.com/Boucanier/8CLD201_Project_1" target="_blank">github.com/Boucanier/8CLD201_Project_1</a></h2>
        <h2>Notreprojet Azure DevOps: <a href="https://dev.azure.com/matisrod/8CLD201%20Project%201" target="_blank">dev.azure.com/matisrod/8CLD201%20Project%201</a></h2>
    </main>
    <footer>
        <p>&copy; 2024, Jules CHIRON, Matis RODIER, Thomas GODINEAU</p>
    </footer>
</body>
</html>